
    /* Set the background color and text alignment for the entire page */
    body {
        background-color: lightgreen;
        font-family: Arial, sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    /* Style the main heading */
    h1 {
        color: #2E8B57;
        font-size: 2.5em;
        margin: 20px;
    }

    /* Style the SoundCloud iframe */
    iframe {
        margin: 20px auto;
        display: block;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Style the SoundCloud links */
    .soundcloud-info {
        font-size: 0.9em;
        color: #cccccc;
        font-family: 'Arial', sans-serif;
        font-weight: 100;
        margin: 10px;
    }

    .soundcloud-info a {
        color: #cccccc;
        text-decoration: none;
    }

    /* Style the navigation bar */
    ul {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        background-color: DodgerBlue;
        border-radius: 8px;
    }

    /* Style each navigation link */
    ul li {
        margin: 0 15px;
    }

    ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        padding: 10px 20px;
        display: block;
        transition: background-color 0.3s;
        border-radius: 5px;
    }

    /* Hover effect for links */
    ul li a:hover {
        background-color: #104E8B;
    }